body {
    font-family: Open Sans, sans-serif;
    background-color: #E4D7FD;
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #644590;
}

form {
    margin-bottom: 20px;
    background: #ECCDE9;
}

input, textarea, select, button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #FFFFFF;
    margin-bottom: 10px;
    padding: 15px;
    border-left: 5px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    color: #999;
}

li.high-priority {
    border-left-color: red;
}

li.medium-priority {
    border-left-color: orange;
}

li.low-priority {
    border-left-color: green;
}

li button {
    background: #644590;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}
